tmp
06-theory.pdf
.venv
log
__pycache__
merged_results
llama.cpp
840_nervenet_learning_structured_p.pdf
2204.01691v2.pdf
merged_results.zip
Modelfile
results.zip
week_wise_55day_plan.html
.vscode
yolov8n.pt
yolov8s.pt